<div class="lg:flex flex-col lg:flex-row lg:space-x-4 lg:mt-0 mt-4 flex flex-col items-center justify-center text-xl">
    <a href="/" class="text-white  px-4 py-2 hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Voir tâches</a>

    <a href="/" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Connexion</a>
    <a href="/" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Inscription</a>
</div>