<div class="bg-cover bg-center bg-no-repeat"
  style="background-image: url('https://source.unsplash.com/random/1920x1080?nature')">
  <div class="max-w-md mx-auto text-center bg-white bg-opacity-90 p-8 rounded-lg shadow-lg">
    <div class="text-9xl font-bold text-[#047857]  mb-4">404</div>
    <h1 class="text-4xl font-bold text-gray-800 mb-6">Oops! Page Non Trouvée</h1>
    <p class="text-lg text-gray-600 mb-8">Désolé, nous n'avons trouvé aucune route correspondant au chemin spécifié</p>
    <a href="#"
      class="inline-block bg-[#047857] text-white font-semibold px-6 py-3 rounded-md hover:bg-indigo-700 transition-colors duration-300">
      Page d'accueil
    </a>
  </div>
</div>
