<div class="flex justify-center mb-6 mt-6">
    <table>
        <thead>
            <tr>
                <th>Statut</th>
                <th>N°</th>
                <th>Nom du langage</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let language of listeLanguages; let i = index">
                <td>
                    <input type="checkbox">
                </td>
                <td>{{i + 1}}</td>
                <td class="cursor-pointer" (click)="selectLanguage(language)">
                    <span [ngClass]="{'active': language === selectedLanguage}">
                        {{language}}
                    </span>
                </td>
                <td>Supprimer</td>
            </tr>
        </tbody>
    </table>
</div>
