<div class="lg:flex flex-col lg:flex-row lg:space-x-4 lg:mt-0 mt-4 flex items-center justify-around text-xl bg-amber-300">

    <a routerLink="/fifa" class="text-white  px-4 py-2 hover:text-[#F59E0B] hover:border-b-2 hover:border-[#f50bc2] uppercase">FIFA</a>
    
    <a routerLink="/gta" class="text-white  px-4 py-2 hover:text-[#F59E0B] hover:border-b-2 hover:border-[#f50bc2] uppercase">GTA</a>

    <a routerLink="/pes" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#f50bc2] uppercase">PES</a>

    <a routerLink="/blur" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#f50bc2] uppercase">BLUR</a>

    <a routerLink="/needforspeed" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#f50bc2] uppercase">Need for speed</a>

    <a routerLink="/jeux/residentevil" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#f50bc2] uppercase">Resident evil</a>
    
</div>

<div>
    <router-outlet></router-outlet>
</div>
